{% load static %}

  {% include 'head.html' %}
  {% include 'header.html' %}
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
      {% endfor %}
  </div>
  {% endif %}


  <main class="main">


    <!-- Contact Section -->
    <section id="contact" class="contact section light-background">

      <!-- Section Title -->
      <div class="container section-asoc-title" data-aos="fade-up">
        <h2 id="title-asociarme">Completa los datos y <span class="description-title">sumate a la familia de Unión</span></h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">
          
          <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <p id="modal-text">Socio creado con éxito</p>
            </div>
          </div>
          <div class="col-lg-12">  
          {% include "register_form.html" %}
          </div>
          <!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  {% include 'footer.html' %}