{% extends "admin/base.html" %}
{% load static %} 
{% block extrahead %}


  {{ block.super }}  

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const linkCuotas = document.querySelector('a[href="/generacion_cuotas/"]');
        
        linkCuotas.addEventListener('click', function (event) {
            event.preventDefault();

            const popupWidth = 750;
            const popupHeight = 500;
    
            const left = (window.screen.width / 2) - (popupWidth / 2);
            const top = (window.screen.height / 2) - (popupHeight / 2);
    
            window.open(this.href, 'popup', `width=${popupWidth},height=${popupHeight},top=${top},left=${left}`);    
        
        });
       
    });
    </script>
{% endblock %}